.riddleStyle{
    font-size: 50px;
    font-family: 'Philosopher', sans-serif;
    text-align: center;

}

.containerRiddle{
    border-style: dotted;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}